@keyframes smooth-appear {
    0%{
     opacity: 0;
     transform: translateY(20px);
    }
    100%{
     opacity: 1;
     transform: translateY(0);
    }
   }


.list{
    width: 70%;
    padding: 20px ;
    margin: 70px auto;
    box-shadow: 0px 6px 4px rgba(0,0,0,0.3);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fff;
    opacity: 0;
    transform: translateY(20px);
    animation: smooth-appear 0.8s ease-out forwards;
}

.todo{
    margin-bottom: 40px; 
}

.hr{
    margin-block: 30px;
    opacity: 0.6;
}


.textCont{
    display: flex;
    align-items: center;
}

.textCont span{
    margin-right: 20px;
}




.doneTaskHead{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(100,43,115,1) 0%, rgba(4,0,4,1) 90% );
    padding: 20px;
    box-shadow: 0px 6px 4px rgba(0,0,0,0.3);
    margin-bottom: 50px;
    color: #fff;
}

.clear{
    font-weight: bold;

    width: fit-content;
    height: fit-content;
    padding: 5px 11px;
    border-radius: 6px; 
    color: white;
    cursor: pointer;

    background-image: linear-gradient(to right, #20002c 0%, #cbb4d4  51%, #20002c  100%);
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    border-radius: 10px;
    display: block;
}

.clear:hover{
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }





@media (max-width : 600px) {
    .list{
        width: 90%;
    }
}