.formDiv{
    margin: 30px auto;
    width: 70%;
    display: flex;
    padding: 25px;
    justify-content: space-between;
    border-radius: 8px;
    box-shadow: 0px 6px 4px rgba(0,0,0,0.3);
}


.inp{
width: 90%;
border: none;
font-size: large;
font-weight: bold;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.inp:focus{
    outline: none;
}

.inpbtn{
    padding-inline: clamp(0.7rem, 1.5vw + 0.7rem, 1rem );
    padding-block: clamp(0.3rem, 1.5vw + 0.7rem, 0.6rem);
    background-color: #D5ED9F;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    font-size: clamp(0.8rem , 1.5vw, 1.2rem);
}

@media (max-width : 600px) {
    .formDiv{
        width: 90%;
    }
}