.formDiv{
    margin: 30px auto;
    width: 70%;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    border-radius: 8px;
    box-shadow: 0px 6px 4px rgba(0,0,0,0.3);
    background-color: #fff;
}


.inp{
width: 90%;
border: none;
font-size: large;
font-weight: bold;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.inp:focus{
    outline: none;
}

.inpbtn{
    padding-inline: clamp(0.7rem, 1.5vw + 0.7rem, 1rem );
    padding-block: clamp(0.3rem, 1.5vw + 0.7rem, 0.6rem);
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(100,43,115,1) 0%, rgba(4,0,4,1) 90% );
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    font-size: clamp(0.8rem , 1.5vw, 1.2rem);

    background-image: linear-gradient(to right, #20002c 0%, #cbb4d4  51%, #20002c  100%);
    margin: 10px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

         
  .inpbtn:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 

@media (max-width : 600px) {
    .formDiv{
        width: 90%;
    }
}