.list{
    width: 70%;
    padding: 20px ;
    margin: 20px auto;
    box-shadow: 0px 6px 4px rgba(0,0,0,0.3);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.todo{
    margin-bottom: 40px; 
}

.hr{
    margin-block: 30px;
    opacity: 0.6;
}

.textBtnWrap{
    display: flex;
    justify-content: space-between;
}

.btn{
    padding: 8px 17px;
    background-color: #D5ED9F;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    font-size: clamp(17px, 1.5vw, 20px)
}

.text{
    display: inline-block;
    margin-right: 5px;
}

.btnWrap{
    display: flex;
    align-items: center;
    font-size: 12.8px;
}

.btnWrap button{
    margin-left: 10px;
}

.doneBtn{
    background-color: #D5ED9F;
    padding-inline: clamp(0.1rem, 1.5vw + 0.5rem, 0.5rem);
    padding-block: clamp(0.2rem, 1.5vw + 0.5rem, 0.7rem);
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: clamp(11px, 1.5vw, 13.333px)
}

@media (max-width : 600px) {
    .list{
        width: 90%;
    }
}