@keyframes smooth-appear {
   0%{
    opacity: 0;
    transform: translateY(20px);
   }
   100%{
    opacity: 1;
    transform: translateY(0);
   }
  }

.list{
    width: 70%;
    padding: 20px ;
    margin: 20px auto;
    box-shadow: 0px 6px 4px rgba(0,0,0,0.3);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fff;
  
    opacity: 0;
    transform: translateY(20px);
    animation: smooth-appear 0.8s ease-out forwards;
}

.todo{
    margin-bottom: 40px; 
}

.hr{
    margin-block: 30px;
    opacity: 0.6;
}

.textBtnWrap{
    display: flex;
    justify-content: space-between;
}

.btn{
    padding: 8px 17px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    font-size: clamp(17px, 1.5vw, 20px);

    background-image: linear-gradient(to right, #20002c 0%, #cbb4d4  51%, #20002c  100%);
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.text{
    display: inline-block;
    margin-right: 5px;
}

.btnWrap{
    display: flex;
    align-items: center;
    font-size: 12.8px;
}

.btnWrap button{
    margin-left: 10px;
}

.doneBtn{
    padding-inline: clamp(0.1rem, 1.5vw + 0.5rem, 0.5rem);
    padding-block: clamp(0.2rem, 1.5vw + 0.5rem, 0.7rem);
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: clamp(11px, 1.5vw, 13.333px);

    background-image: linear-gradient(to right, #20002c 0%, #cbb4d4  51%, #20002c  100%);
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    color: #fff;
}

.doneBtn:hover, .btn:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }



@media (max-width : 600px) {
    .list{
        width: 90%;
    }
}